packages/
*.DotSettings.*
bin
Bin
obj
Obj
CustomPages
DependencyGraph.xml
build*.log
Output
Debug
Release
SqlLog.txt
Thumbs.db
*.docstates
*.HarnessItConfig
*.vbproj.user
*.csproj.user
*.vcxproj.user
*.wixproj.user
*.suo
*.sdf
*.opensdf
*.tlb
*.pdb
*.pch
*.obj
*.dep
*.idb
*.ilk
*.ipch
*.o
*.lo
*.pyo
*.la
*.tlog
#*#
*.rej
*~
.#*
*.orig
*.bak
*.nrmap
*.msi
*.wixobj
*.wixpdb
*.wxsreg
*.msm
*.exe
*.rap
*.intermediate.manifest
*ReSharper*
.lastbuildstate
.lastbuildsucceeded
.lastcodeanalysissucceeded
*.dotCover
*.DotSettings
TestLogs/*
Packages/*
*.pubxml.user
*.nupkg
msbuild.targets
dlls.txt
version.txt
DevelopmentScripts/NUnit*
BuildLogs
PDBs
Applications/*.nuspec
.vs/
.axoCover/
applicationhost.config
/Source/RA/RA.Agents.Integration/App.config
.vs/
[b|B]in
[o|O]bj
packages
Artifacts/
buildtools/*
!buildtools/packages.config
FunctionalTestSettings
FunctionalTest.runsettings
*.dll
*.jar
*.exe
*.bin
!vendor/*
/Source/RA/RA.CustomPage/Properties/PublishProfiles/*.pubxml
