<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.12.0" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.15.0" targetFramework="net462" />
  <package id="Relativity.Api" version="10.3.226.8" targetFramework="net462" />
  <package id="Relativity.EventHandler" version="10.3.226.8" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="10.3.226.8" targetFramework="net462" />
  <package id="Relativity.Rsapi" version="10.3.226.8" targetFramework="net462" />
  <package id="RelativityDev.SolutionSnapshotLoginHelper" version="1.0.2" targetFramework="net462" />
</packages>